<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO metada : title, meta description, canonical URL -->
    <title>
        {{ page_title -}}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <!-- meta description -->
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <!-- canonical url -->
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- add favicon -->


    <!-- load scripts from shopify -->
    {{ content_for_header}}
</head>
<body>
    <!-- main content -->
    <main>
        <!-- dynamically output from all template  -->
        {{content_for_layout}}
    </main>
</body>
</html>