<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- canonical url -->
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- add favicon -->


    <title>{{ page_title }}</title>

    <!-- load scripts from shopify -->
    {{ content_for_header}}
</head>
<body>
    <!-- main content -->
    <main>
        <!-- dynamically output from all template  -->
        {{content_for_layout}}
    </main>
</body>
</html>